<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="runTestImpl" class="ru.otus.service.RunService">
        <constructor-arg index="0" ref="testCreatorServiceImpl"/>
    </bean>

    <bean id="fileAsResourceFileDaoImpl" class="ru.otus.dao.FileAsResourseDaoImpl">
        <constructor-arg index="0" value="questAndAnsw.csv"/>
    </bean>

    <bean id="testCreatorServiceImpl" class="ru.otus.service.TestCreatorService">
        <constructor-arg index="0" ref="fileAsResourceFileDaoImpl"/>
    </bean>

<!--    <bean id="answerServiceImpl" class="ru.otus.service.AnswerServiceImpl">-->
<!--        <constructor-arg index="0" ref="dataFromResourceFileDaoImpl"/>-->
<!--    </bean>-->

<!--    <bean id="printServiceImpl" class="ru.otus.service.PrintServiceImpl">-->
<!--        <constructor-arg ref="questionServiceImpl"/>-->
<!--        <constructor-arg ref="answerServiceImpl"/>-->
<!--    </bean>-->

</beans>
